/* Dark mode styles */
body {
    background-color: #2B2A33;
    color: #FBFBFE;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote,
code {
    color: #FBFBFE;
}

.card {
    background-color: #42414D;
}

a {
    color: #1e90ff;
}

a:hover {
    color: #1c7cd6;
}

blockquote {
    background-color: #3a3a3c;
    border-left-color: #555;
}

code {
    background-color: #3b3b3d;
}

table {
    border-color: #555;
}

th {
    background-color: #3d3d40;
}

hr {
    border-top-color: #555;
}

.card {
    background-color: #42414D;
    color: #FBFBFE;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}